<%- include('../partials/header') %>

<h1>Forgot Password</h1>

<form method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <button>Submit</button>
</form>

<p style="color:red"><%= error %></p>
<p style="color:green"><%= success %></p>

<%- include('../partials/footer') %>
