<%- include('../partials/header') %>
<h1>Login</h1>
<% if(typeof error !== 'undefined'){ %><p style="color:red"><%= error %></p><% } %>
<form action="/auth/login" method="POST">
  <label>Username: <input name="username" required></label><br>
  <label>Password: <input type="password" name="password" required></label><br>
  <button type="submit">Login</button>
</form>
<p><a href="/auth/forgot">Forgot password</a></p>
<%- include('../partials/footer') %>
